*{padding:0; margin:0}

/*************************************************** 
 * 应用程序卡片页面
 */

/* CSS实现3D阴影背景
 * http://www.iinterest.net/2011/04/21/css3-box-shadow/
 */


#app-card-grid {
	font-size: 12pt;
	display:inline-block;
	position:relative;
	margin:50px;
	padding:20px;
	background:#fafafa;
	box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
	-moz-border-radius:4px;
	border-radius:4px;
	color:rgba(0,0,0, 0.8);

	min-width: 50%;
	min-height: 200px;
}

#app-card-grid::before, #app-card-grid::after {
	position:absolute;
	content:"";
	top:10px;
	bottom:15px;
	left:10px;
	width:50%;
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
	-webkit-transform: rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	transform:rotate(-3deg);
	z-index:-1;
}

#app-card-grid::after {
	right:10px;
	left:auto;
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	transform: rotate(3deg);
}

/* 设置了浏览器宽度不大于500px时 abc 显示100px宽度 */ 
#app-card-grid div {
        display: inline-block; 

        width: 300px; 		/* 重要：此处定义每一个应用卡片的大小 */
        height: 150px; 
        padding: 5px; 
        margin: 20px; 
        background-color: #eeeeee;

        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;

	box-shadow: 0px 0px 8px #cccccc;
}

#app-card-grid img {
        float: left; 
	margin: 10px;
}

#app-card-grid .app-text {
        float: left; 
	margin: 5px;
	text-align: center;
}

#app-card-grid .app-title {
	font-size: 14pt;
	font-weight: bold;
}

#app-card-grid .app-info {
	margin: 5px;
	font-size: 10pt;
}

#app-card-grid .app-desc {
	text-align: left;
        float: left; 
	margin: 5px;
	font-size: 9pt;
	clear: both;
}

/*************************************************** 
 * 应用程序详细页面
 */
.app-form {
	width: white;
	background-color: white;
	margin-left: 50px;
	margin-right: 50px;
	padding: 30px;
}

/* 返回按钮 */
#app-back {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #dddddd;
	color: #888888;
	margin-left: 20px;
	cursor: pointer;

	font-weight: bold;

	-moz-border-radius: 20px;
	border-radius: 20px;
	float: left;
}

.app-form img {
	margin-bottom: 20px;
}

.app-header {
	text-align: left;
	color: gray;
	font-size: 12pt;
}

.app-header #error {
	margin-top: 15px;
	color: red;

	padding: 5px;
	display: none;
	//background-color: #eeeeee;
}

.title {
	font-size: 16pt;
	font-weight: bold;	
	color: black;
	padding-bottom: 20px;
}

.td-label {
	width: 120px;
}

.td-img {
	padding-left: 150px;
	padding-right: 150px;
	text-align: center;
}

.app-form #longdesc {
	text-align: left;
}

/* 应用程序界面：阴影 */
.screen-file {
	width: 320px;
	height: 240px;
	border: none;
	margin-left: 20px;
	margin-right: 20px;

	#-webkit-box-shadow:0 0 20px #888;  
	#-moz-box-shadow:0 0 20px #888;  
	#box-shadow:0 0 20px #888;  
}

/* 应用程序：按钮 */
.not-installed {
	border: 1px solid red;
	background-color: red;
	color: white;

	cursor: pointer;
}

.installed {
	border: 1px solid green;
	background-color: green;
	color: white;

	cursor: dafault;
}

.need-updated {
	border: 1px solid red;
	background-color: red;
	color: white;

	cursor: pointer;
}

.downloading {
	border: 1px solid #e63f00;
	background-color: #e63f00;
	color: white;

	cursor: dafault;
}

.checking-download-file {
	border: 1px solid #e63f00;
	background-color: #e63f00;
	color: white;

	cursor: dafault;
}

.checking-download-file-error {
	border: 1px solid red;
	background-color: white;
	color: red;

	cursor: dafault;
}

.installing {
	border: 1px solid #e63f00;
	background-color: #e63f00;
	color: white;

	cursor: dafault;
}

.install-error {
	border: 1px solid red;
	background-color: white;
	color: red;

	cursor: dafault;
}

/*
 * 状态图标
 */
#app-icon {
	border: none;

	width: 60px;
	height: 20px;
	line-height: 20px;
	font-size: 11pt;
	font-color: black;

	position: relative;
	right: 10px;
	top: -3px;
	display: inline-block;

	//-webkit-box-shadow:0 0 2px gray;
	//-moz-box-shadow:0 0 2px gray;
	//box-shadow:0 0 2px gray;

	-moz-border-radius: 10px;
	border-radius: 10px;
}
