/*
 * Globals
 */
.vendorWork-body-backgroud {
  background-size:100% 100%;
  height: 1200px;
  background-repeat:no-repeat;
  FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#FFFFFF,,endColorStr=#BBFFBB); /*IE 6 7 8*/
  background: -ms-linear-gradient(top, #FFFFFF, #BBFFBB);        /* IE 10 */
  background:-moz-linear-gradient(top, #FFFFFF, #BBFFBB);/*火狐*/
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FFFFFF), to(#CCFF99));/*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCFF99));      /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #FFFFFF, #CCFF99);   /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #fff, #CCFF99);  /*Opera 11.10+*/
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
