/* 顶部导航 */
.topbar {
	height: 50px;
	background-color: #eaeaea;
	border: 1px solid #aeaeae;
	border-width: 0px 0px 1px 0px;
	padding: 15px 0px 0px 150px;

	position: fixed; width: 100%; z-index: 2222;
	min-width: 1024px;
	overflow: hidden;
}

.topbar-button {
	float: left;
	margin-right: 30px;

	border: none;
	cursor: pointer;

	position: relative;
}

.topbar-button-focus {
	float: left;
	margin-right: 30px;

	border: 2px red solid;	
	border-width: 0px 0px 4px 0px;
	color: red;
}

/* 搜索框：模仿谷歌风格 */
.input-thin {
	float: right;
	margin-right: 250px;

        width: 280px;
        height: 22px;
        line-height: 22px;
        font-size: 11pt;
	color: gray;

	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 3px;
	padding-left:5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.input-thin:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/* 隐藏的Refresh按钮 */

.invisible-button {
	width: 200px;
	height: 30px;
	color: gray;
	border: none;
	background-color: #e9e9e9;
}


/* 升级软件的数量 */
.update-circle {
        #border: 1px white solid;
        background-color: red;
        width: 22px;
        height: 22px;
        line-height: 22px;

        -moz-border-radius: 11px;
        border-radius: 11px;

        position: absolute;
        right: -20px;
        top: -8px;

	display: none;

	font-size: 12pt;
	font-family: "Helvetica";
	#font-weight: bold;
	color: white;
}
